body {
  background-color: black;
  #logContainer {    
    position:absolute;
    padding: 8% 0 0 13%;
  }
  #logocont {
    margin: 15px;    
    p {
      font-family: "Bungee", cursive;
      color: white;
      text-align: center;
      max-width: 100px;
    }
  }
  .mainbox {
    background-color: black;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
    .err {
      color: #ffffff;
      font-family: "Nunito Sans", sans-serif;
      font-size: 11rem;
      position: absolute;
      left: 20%;
      top: 8%;
      text-shadow: 8px 8px 5px rgb(22, 102, 120);
    }
    .far {
      position: absolute;
      font-size: 8.5rem;
      left: 42%;
      top: 15%;
      color: #ffffff;
      text-shadow: 3px 3px 5px rgb(22, 102, 120);
    }
    .err2 {
      color: #ffffff;
      font-family: "Nunito Sans", sans-serif;
      font-size: 11rem;
      position: absolute;
      left: 68%;
      top: 8%;
      text-shadow: 8px 8px 5px rgb(22, 102, 120);
    }
    .msg {
      color: #ffffff;
      text-align: center;
      font-family: "Nunito Sans", sans-serif;
      font-size: 1.5rem;
      position: absolute;
      left: 16%;
      top: 45%;
      width: 75%;
      text-shadow: 4px 4px 5px rgb(22, 102, 120);
    }
    a {
      text-decoration: none;
      color:  rgb(125, 185, 179);
    }
    a:hover {
      text-decoration: underline;
    }
      h3 {
        font-style: italic;
      }
    
  }
}
